@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body { 
    font-family: 'Roboto', sans-serif;
}

* { 
    box-sizing: border-box;
}

.cabecalho { 
    width: 100%; 
    height: 92px;
    background-color: #CF2B2B;
    padding-left: 21px; 
    padding-top: 12px; 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);  
    border-radius: 4px;
} 

.cabecalho h1 { 
    font-size: 44px; 
    color: #FFFFFF; 
    font-family: 'Righteous', cursive;
} 

.cabecalho h3 { 
    font-size: 18px; 
    color: #FFFFFF; 
    font-weight: 200;
} 

.principal { 
    background-color: #E5E5E5; 
    height: 10000px;
    width: 100%;  
    padding-top: 31px; 
    padding-left: 19px;
}  

.principal .pratos { 
    height: 500px; 
    width: 100%;
}

.principal .pratos h2 {  
    font-family: 'Righteous', cursive; 
    font-size: 26px; 
    margin-bottom: 17px;
}  

.opcoes {
    display: flex;
}

.opcao1 { 
    width: 172px; 
    height: 216px; 
    background-color: rgba(255, 255, 255, 1); 
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);  
    padding-left: 14px; 
    padding-right: 14px; 
    padding-top: 18px; 
    padding-bottom: 13px; 
    border-radius: 6px; 
    margin-right: 16px;
} 

.opcao1 img { 
    width: 144px;
    height: 87px; 
    border-radius: 4px; 
    object-fit: cover;
} 

.opcao1 h3 { 
    font-size: 16px;  
    margin-top: 8px;
    font-weight: bold; 
    color: rgba(51, 51, 51, 1);
} 

.opcao1 h5 { 
    font-size: 13px;  
    margin-top: 4px;
    font-weight: 300; 
    color: rgba(166, 166, 166, 1);
} 

.opcao1 h4 { 
    font-size: 16px;  
    margin-top: 8px;
    font-weight: 400; 
    color: rgba(0, 0, 0, 1);
    ;
}